SupplyMaster Docs/OrderStatus.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.promostandards.org/WSDL/OrderShipmentNotificationService/1.0.0/" xmlns:s0="http://www.promostandards.org/WSDL/OrderStatusService/1.0.0/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.promostandards.org/WSDL/OrderShipmentNotificationService/1.0.0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.promostandards.org/WSDL/OrderStatusService/1.0.0/">
      <s:element name="GetOrderStatusDetailsRequest" nillable="true" type="s0:GetOrderStatusDetailsRequest" />
      <s:complexType name="GetOrderStatusDetailsRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="wsVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="queryType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="referenceNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="statusTimeStamp" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOrderStatusDetailsResponse" nillable="true" type="s0:GetOrderStatusDetailsResponse" />
      <s:complexType name="GetOrderStatusDetailsResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s0:ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderStatusArray" type="s0:ArrayOfOrderStatusArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ErrorMessage">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="code" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="stacktrace" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderStatusArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderStatus" nillable="true" type="s0:OrderStatusArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderStatusArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="purchaseOrderNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrderStatusDetailArray" type="s0:ArrayOfOrderStatusDetailArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderStatusDetailArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderStatusDetail" nillable="true" type="s0:OrderStatusDetailArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderStatusDetailArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="factoryOrderNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="statusID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="statusName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="expectedShipDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="expectedDeliveryDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseToArray" type="s0:ArrayOfResponseToArray" />
          <s:element minOccurs="0" maxOccurs="1" name="additionalExplanation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="responseRequired" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="validTimestamp" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfResponseToArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResponseToArray" nillable="true" type="s0:ResponseToArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResponseToArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOrderStatusTypesRequest" nillable="true" type="s0:GetOrderStatusTypesRequest" />
      <s:complexType name="GetOrderStatusTypesRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="wsVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOrderStatusTypesResponse" nillable="true" type="s0:GetOrderStatusTypesResponse" />
      <s:complexType name="GetOrderStatusTypesResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s0:ErrorMessage" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusArray" type="s0:ArrayOfStatusArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStatusArray">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Status" nillable="true" type="s0:StatusArray" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StatusArray">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getOrderStatusDetailsSoapIn">
    <wsdl:part name="request" element="s0:GetOrderStatusDetailsRequest" />
  </wsdl:message>
  <wsdl:message name="getOrderStatusDetailsSoapOut">
    <wsdl:part name="getOrderStatusDetailsResult" element="s0:GetOrderStatusDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="getOrderStatusTypesSoapIn">
    <wsdl:part name="request" element="s0:GetOrderStatusTypesRequest" />
  </wsdl:message>
  <wsdl:message name="getOrderStatusTypesSoapOut">
    <wsdl:part name="getOrderStatusTypesResult" element="s0:GetOrderStatusTypesResponse" />
  </wsdl:message>
  <wsdl:portType name="OrderStatusSoap">
    <wsdl:operation name="getOrderStatusDetails">
      <wsdl:input message="tns:getOrderStatusDetailsSoapIn" />
      <wsdl:output message="tns:getOrderStatusDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getOrderStatusTypes">
      <wsdl:input message="tns:getOrderStatusTypesSoapIn" />
      <wsdl:output message="tns:getOrderStatusTypesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderStatusSoap" type="tns:OrderStatusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOrderStatusDetails">
      <soap:operation soapAction="getOrderStatusDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderStatusTypes">
      <soap:operation soapAction="getOrderStatusTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderStatusSoap12" type="tns:OrderStatusSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOrderStatusDetails">
      <soap12:operation soapAction="getOrderStatusDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrderStatusTypes">
      <soap12:operation soapAction="getOrderStatusTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderStatus">
    <wsdl:port name="OrderStatusSoap" binding="tns:OrderStatusSoap">
      <soap:address location="https://api.cbcorporate.com/promostandards/OrderStatus.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderStatusSoap12" binding="tns:OrderStatusSoap12">
      <soap12:address location="https://api.cbcorporate.com/promostandards/OrderStatus.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>